.box{
background-color:skyblue;
border:2px solid black;
width:15%;
height:20%;
text-align:center;
display:flex;
flex-direction:column;      
justify-content:center;      
align-items: center;
border-radius:20px; 
}
.box1{
background-color:blue;
border:1px solid black;
width:80%;
height:120%;
text-align:center;
display:flex;
flex-direction:column;      
justify-content:center;      
align-items: center; 
border-radius:20px;
}